<!-- Sidebar/Profile -->
<div class="flex flex-col md:flex-row min-h-screen bg-google-gray *:bg-gray-100">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content -->
  <main class="flex-1 p-6 overflow-y-auto">
    <!-- Hero Section -->
    <app-hero></app-hero>

    <!-- My Services -->
    <app-services></app-services>

    <!-- Price Plans -->

    <!-- Portfolio -->
    <app-portfolio></app-portfolio>


    <!-- Work History -->
    <app-work-history></app-work-history>

    <!-- Education -->
    <app-education></app-education>

    <!-- Recommendations -->
    <app-recommendations></app-recommendations>

    <!-- Contact & Info -->
    <app-contact-form></app-contact-form>

    <!-- Map & Footer -->
  </main>
</div>
