@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-fira-code);
  
  --color-background: #0f172a;
  --color-foreground: #94a3b8;
  --color-heading: #e2e8f0;
  --color-accent: #5eead4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a !important;
  color: #94a3b8 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: relaxed;
  selection-background-color: #5eead4;
  selection-color: #0f172a;
}

/* Custom Selection */
::selection {
  background-color: rgba(94, 234, 212, 0.3);
  color: #5eead4;
}

/* Custom Scrollbar for better UI */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
